<h2>
  <%= @beer_club %>
</h2>

<p>
  Founded <%= @beer_club.founded %>
</p>
<strong>Members</strong>
<% if @beer_club.members.empty? %>
    <p>
      Beer club has not any members yet!
    </p>
<% else %>
    <ul>
      <% @beer_club.members.each do |member| %>
          <li>
            <%= link_to member.username, member %>
      <% end %>
    </ul>
<% end %>

<% if current_user %>
    <% if @beer_club.members.include? current_user %>
        <%= form_for(@membership, method: "delete") do |f| %>
            <%= f.hidden_field :beer_club_id %>
            <%= f.submit value: "end the membership", class:"btn btn-primary" %>
        <% end %>
    <% else %>
        <%= form_for(@membership) do |f| %>
            <%= f.hidden_field :beer_club_id %>
            <%= f.submit value: "join the club", class:"btn btn-primary" %>
        <% end %>
    <% end %>
<% end %>
<%= edit_and_destroy_buttons(@beer_club) %>
