<h2>
  <%= @user.username %>
  <% if @user.blocked && current_user.admin %>
      <span class="label label-info">account frozen</span>
  <% end %>
</h2>

<p>
  has made <%= pluralize(@user.ratings.count, 'rating', 'ratings') %>, average <%= round(@user.average_rating) %>
  <% if @user.ratings.count > 0 %>
    <p>
      Favorite style: <%= @user.favorite_style.style %>
    </p>
    <p>
      Favorite brewery: <%= @user.favorite_brewery.name %>
    </p>
<% end %>
</p>
<% if @user.beer_clubs.empty? %>
    <p>
      not a member of any beer club
    </p>
<% else %>
    <p>
      member of
      <% @user.beer_clubs.each do |beer_club| %>
          <%= link_to beer_club.name, beer_club %>
      <% end %>
    </p>
<% end %>

<strong>Ratings</strong>
<table class="table table-hover">
  <thead>
  <tr>
    <th>Rating</th>
    <th colspan="2"></th>
  </tr>
  </thead>
  <tbody>
  <% @user.ratings.each do |rating| %>
      <tr>
        <td><%= rating %></td>
        <td>
          <% if @user == current_user %>
              <%= link_to 'delete', rating, method: :delete, data: {confirm: 'Are you sure?'}, class: "btn btn-danger" %></li>
          <% end %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>
<% if current_user.admin %>
    <% if @user.blocked %>
        <%= link_to "reactivate account", toggle_blocked_user_path(@user.id), method: :post, class: "btn btn-primary" %>
    <% else %>
        <%= link_to "freeze account", toggle_blocked_user_path(@user.id), method: :post, class: "btn btn-primary" %>
    <% end %>
<% end %>
<% if @user == current_user %>
    <%= edit_and_destroy_buttons(@user) %>
<% end %>
