<p id="notice"><%= notice %></p>

<h1>Listing styles</h1>
<p> Number of styles: <%= @styles.count %> </p>
<table>
  <thead>
  <tr>
    <th>Style</th>
    <th colspan="2"></th>
  </tr>
  </thead>

  <tbody>
  <% @styles.each do |style| %>
      <tr>
        <td><%= link_to style.style, style %></td>
        <td><%= link_to 'Edit', edit_style_path(style) if current_user %></td>
        <td><%= link_to 'Destroy', style, method: :delete, data: { confirm: 'Are you sure?' } if current_user %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>
<%= link_to('New Style', new_style_path) if current_user %>